@{
    Layout = "_PopLayout";
    ViewData["Title"] = "Movie item modify";
}
@section Scripts {
    <script>
        var currentId = "@ViewBag.CurrentId";
        var userDPName = "@CloudNativeWeb.Common.UserInfo.Current.DisplayName";

        function fnDocumentReadyCommon() {
            selectMovieItem();
            selectFileItem();
            selectCommentList();
        }

        function selectMovieItem() {

            var param = {
                title: currentId
            }

            m_Ajax.Call('@Url.Action("SelectMovieItem")', param, function (data) {
                if (data) {
                    $('#txtTitle').val(data[0].title);
                    $('#selectGenre').val(data[0].genre);
                    $('#txtDirector').val(data[0].director);
                    $('#txtReleaseTime').val(data[0].releaseTime);
                }
            });
        }

        function updateMovieItem() {
            if (!m_Required.Check()) {
                return;
            }

            if ($("#txtTitle").val().trim() == "") {
                alert("Please enter the title.");
                return;
            }

            var updateParam = {
                title: currentId,
                genre: $('#selectGenre').val(),
                director: $('#txtDirector').val().trim(),
                releaseTime: $('#txtReleaseTime').val().trim()
            }

            m_Ajax.Call('@Url.Action("UpdateMovieItem")', updateParam, function (data) {
                opener.fnDocumentReadyCommon();
                if (data > 0) {
                    alert("Save.");
                    m_Popup.Close();
                } else {
                    alert("Error: Please check for duplicate titles or other data");
                }
            });
        }

        function selectCommentList() {
            var param = {
                title: currentId
            }

            m_Ajax.Call('@Url.Action("SelectCommentList")', param, function (data) {
                if (data) {
                    var tbodyHtml = "";
                    $(data).each(function (i) {
                        tbodyHtml += '<tr>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].updateUser ? data[i].updateUser : "") + '<input type="hidden" id="hidCommentId_' + data[i].commentId + '" /></td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].commentContent ? data[i].commentContent : "") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].rating ? data[i].rating.toString() + "/10" : "0/10") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + data[i].updateDate.split('T')[0] + ' ' + data[i].updateDate.split('T')[1].substring(0, 5) + '</td>';
                        const d1 = new Date(data[i].updateDate.split('T')[0] + ' ' + data[i].updateDate.split('T')[1].substring(0, 5));
                        const d2 = new Date();
                        d2.setDate(d2.getDate() - 1);
                        if (userDPName == data[i].updateUser && d2.getTime() < d1.getTime()) {
                            tbodyHtml += '  <td class="align-center"><button class="btn-round sub-btn btn-gray" onclick="editComment(this)"><i class="icon-fux-write"></i></button></td >';
                        } else {
                            tbodyHtml += '  <td></td>';
                        }

                        tbodyHtml += '</tr>';
                    });
                    $('#commentList').html(tbodyHtml);

                    $('#commentCount').text(data.length + " Comments");
                }
            });
        }

        function insertComment(elem) {
            var clickRow = $(elem).closest('tr');
            var td = clickRow.children();

            var param = {
                updateUser: userDPName,
                title: currentId,
                commentContent: $('#txtCommentContent').val().trim(),
                rating: $('#selectRating').val()
            };

            m_Ajax.Call('@Url.Action("InsertComment")', param, function (data) {
                if (data) {
                    alert("Save.");
                    fnDocumentReadyCommon();
                } else {
                    alert("Error: Please check for duplicate titles or other data");
                }
            });
        }

        function editComment(elem) {
            var clickRow = $(elem).closest('tr');
            var td = clickRow.children();

            td.each(function (i) {
                if (i == 0 || i == 3) {
                } else if (i == 4) {
                    var changeHtml = "";
                    changeHtml += '       <button class="btn-round sub-btn btn-gray" onclick="editCommentOk(this)"><i class="icon-fux-check-mark"></i></button>';
                    changeHtml += '       <button class="btn-round sub-btn btn-gray" onclick="editCommentCancel(this)"><i class="icon-fux-close"></i></button>';
                    td.eq(i)[0].innerHTML = changeHtml;
                } else if (i == 2)  {
                    var choiceTxt = td.eq(i).text().trim();
                    choiceTxt = choiceTxt.replace('/10', '');
                    td.eq(i)[0].outerHTML = '<td class="align-center"><input type="text" class="fm-def" style="width: 100%;" value="' + choiceTxt + '" /></td>';
                    $(td.eq(i).children()).val(choiceTxt);
                } else {
                    var choiceTxt = td.eq(i).text().trim();
                    td.eq(i)[0].outerHTML = '<td class="align-center"><input type="text" class="fm-def" style="width: 100%;" value="' + choiceTxt + '" /></td>';
                    $(td.eq(i).children()).val(choiceTxt);
                }
            });
        }

        function editCommentOk(elem) {
            var clickRow = $(elem).closest('tr');
            var td = clickRow.children();

            var getCommentId = $($(td[0]).find("[id*=hidCommentId_]")).attr('id').replace('hidCommentId_', '');
            var getRating = $(td[2]).children(0).val();
            if (getRating > 10)
                getRating = 10;
            else if (getRating < 0)
                getRating = 0;

            var param = {
                updateUser: userDPName,
                title: currentId,
                commentId: getCommentId,
                commentContent: $(td[1]).children(0).val().trim(),
                rating: getRating
            };

            m_Ajax.Call('@Url.Action("UpdateComment")', param, function (data) {
                if (data) {
                    alert("Update.");
                    fnDocumentReadyCommon();
                } else {
                    alert("Error: Please check for data");
                }
            });
        }

        function editCommentCancel(elem) {
            var clickRow = $(elem).closest('tr');
            var td = clickRow.children();

            td.eq(1)[0].outerHTML = '<td class="align-center">' + $(td[1]).children(0)[0].defaultValue + '</td>';
            td.eq(3)[0].outerHTML = '<td class="align-center">' + $(td[3]).children(0)[0].defaultValue + '</td>';

            const d1 = new Date(td.eq(3).innerHTML);
            const d2 = new Date();
            d2.setDate(d2.getDate() - 1);
            var changeHtml = "";
            if (userDPName == data[i].updateUser && d2.getTime() < d1.getTime()) {
                changeHtml = '  <td class="align-center"><button class="btn-round sub-btn btn-gray" onclick="editComment(this)"><i class="icon-fux-write"></i></button></td >';
            }

            td.eq(4)[0].innerHTML = changeHtml;
        }

        function selectFileItem() {
            var param = {
                title: currentId
            }

            m_Ajax.Call('@Url.Action("SeclectFileItem")', param, function (data) {
                if (data) {
                    var downLinkHtml = '<a href="/Home/FileDownload?fileName=' + data.fileName + '&displayName=' + data.fileDisplayName +  '">' + data.fileDisplayName + '</a>';
                    $('#lblFileName').html(downLinkHtml);
                } else {
                    $('#lblFileName').text("File does not exist.");
                }
            });
        }

        function fnSendFile() {
            formData.append("title", currentId);

            $.ajax({
                url: '/Home/FileUpload',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                async: false,
                success: function (data) {
                    if (data) {
                        alert("File Upload Complete");
                        fnDocumentReadyCommon();
                        var downLinkHtml = '<a href="/Home/FileDownload?fileName=' + data.fileName + '&displayName=' + data.fileDisplayName + '">' + data.fileDisplayName + "</a>"
                        $('#lblFileName').html(downLinkHtml);
                    }
                    else {
                        alert("File upload failed");
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

        var m_Loading = {
            Show: function () {
                var html = "";
                html += '<div id="loading">';
                html += '    <div class="loadingLayer">';
                html += '        <div class="loadingText">';
                html += '            <div class="lds-bar">';
                html += '                <div></div><div></div><div></div>';
                html += '            </div>';
                html += '            <span class="lds-bar-txt">LOADING</span>';
                html += '        </div>';
                html += '    </div>';
                html += '</div>';

                $('.pop-content').append(html);
            },
            Hide: function (winElem) {
                setTimeout(function () {
                    $(winElem.document).find('body').find('#loading').remove();
                }, 500)
            }
        }
    </script>
}
<div>
    <div class="pop-header dp-flex mr-auto">
        <h6 class="title">@ViewData["Title"]</h6>
    </div>

    <div class="pop-content">
        <div class="pop-size optional-pop-padding">

            <div class="space-s"></div>

            <div class="tab-content flex-1 overflow-auto-y p-t-l">
                <table width="100%" class="tbl-basic">
                    <colgroup>
                        <col width="12%" />
                        <col width="38%" />
                        <col width="12%" />
                        <col width="38%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td>
                                <input id="txtTitle" type="text" class="fm-def" style="width: 200px;" m_required="Title" readonly />
                            </td>
                            <th>Genre</th>
                            <td>
                                <select id="selectGenre" class="fm-def" style="width:120px;">
                                    <option value="Action">Action</option>
                                    <option value="Animation">Animation</option>
                                    <option value="Comedy">Comedy</option>
                                    <option value="Crime">Crime</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Experimental">Experimental</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Historical">Historical</option>
                                    <option value="Horror">Horror</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Science Fiction">Science Fiction</option>
                                    <option value="Thriller">Thriller</option>
                                    <option value="Western">Western</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Director</th>
                            <td>
                                <input id="txtDirector" type="text" class="fm-def" style="width: 200px;" m_required="Director" />
                            </td>
                            <th>Release Time</th>
                            <td>
                                <input id="txtReleaseTime" type="text" class="fm-def" style="width: 200px;" m_required="ReleaseTime" />
                            </td>
                        </tr>
                        <tr>
                            <th>Movie File</th>
                            <td colspan="3">
                                <label id="lblFileName">File does not exist</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="Container">
                <div id="dragDropArea">
                    <div class="drag-drop-inside">
                        <p class="drag-drop-buttons">
                            <label class="fileInputButton">
                                ＋ File Add
                                <input id="fileInput" type="file" style="display:none;" onchange="javascript:fnSelectFile();" />
                            </label>
                        </p>
                        <div id="fileList" style="text-align:center;"></div>
                    </div>
                </div>
                <button type="button" class="btn page-btn btn-basic" onclick="javascript:fnSendFile();">Upload</button>
            </div>

            <div class="space-m"></div>

            <div class="subpage-body">
                <div id="ipAddress_div" class="grd-wrap">
                    <div class="space-m"></div>
                    <div class="dp-flex">
                        <div class="mr-auto">
                            <h6 class="ft-blue">Comment</h6>
                        </div>
                    </div>
                    <div class="dp-flex">
                        <div class="mr-auto">
                            <div style="float: left;">
                                <select id="selectRating" class="fm-def" style="width:120px;">
                                    <option value="10" selected>10</option>
                                    <option value="9">9</option>
                                    <option value="8">8</option>
                                    <option value="7">7</option>
                                    <option value="6">6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                            </div>
                            <div style="float: right;">
                                <input id="txtCommentContent" type="text" class="fm-def" style="width: 700px" placeholder="Enter comment.." />
                            </div>
                        </div>
                        <div class="ml-auto">
                            <button onclick="insertComment();" class="btn sub-btn btn-basic-outline">Write</button>
                        </div>
                    </div>
                    <div class="space-s"></div>
                    <table width="100%" class="grd">
                        <colgroup>
                            <col width="15%">
                            <col>
                            <col width="10%">
                            <col width="15%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="5" id="commentCount"></th>
                            </tr>
                        </thead>
                        <tbody id="commentList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="pop-footer">
            <div class="dp-flex">
                <div class="ml-auto">
                    <button class="btn page-btn btn-basic" onclick="updateMovieItem();">Update</button>
                    <button class="btn page-btn btn-basic" onclick="m_Popup.Close();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>